body {
    background: url(../img/gass.jpg);
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.login-box {
    
    background-color: #fff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 50px auto; 
    padding: 20px;
    max-width: 400px; 
}

.login-box h1 {
    color: #333;
    margin-bottom: 20px;
}

.login-box label {
    color: #666; 
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd; 
    border-radius: 4px; 
    transition: border-color 0.3s ease; 
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
    border-color: #4CAF50;
    outline: none;
}

.login-box input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; 
    color: #fff; 
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.login-box input[type="submit"]:hover {
    background-color: #000000; 
}

.login-box a {
    color: #666; 
    text-decoration: none;
    transition: color 0.3s ease; 
}

.login-box a:hover {
    color: #333; 
}
